body {
  font-family: "Ubuntu", sans-serif;
  background: #f9f9f9;
  color: #1b1925;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.2;
}

[class*=__container] {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0px 10px;
}

.title {
  font-size: 50px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}

.subtitle {
  font-size: 40px;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
}
.subtitle span {
  color: #f83718;
}

.section-title {
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  color: #000000;
}

.btn {
  display: inline-block;
  padding: 9px 28px;
  background-color: #f83718;
  font-weight: 700;
  font-size: 14px;
  line-height: 120%;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #ffffff;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.btn:hover {
  background-color: #ee816c;
}

.header {
  background-color: #fff;
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 24px 30px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}
.menu__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #000000;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.menu__link:hover {
  color: #f83718;
}
.menu__link:active {
  color: #f83718;
}

.lang {
  background: #f0f0f0;
  border-radius: 12px;
  padding: 3.78px;
}
.lang__item {
  display: inline-block;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: #666666;
  text-transform: uppercase;
  border-radius: 12px;
  padding: 14px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.lang__item:hover {
  color: #f83718;
}
.lang__item.active {
  color: #000;
  background: #ffffff;
  -webkit-box-shadow: 1.38889px 1.38889px 5.55556px rgba(48, 48, 56, 0.12);
          box-shadow: 1.38889px 1.38889px 5.55556px rgba(48, 48, 56, 0.12);
}
.lang__item.active:hover {
  color: #f83718;
}

.solution {
  background-color: #f83718;
}
.solution__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 104px 30px;
}
.solution__title {
  max-width: 544px;
  margin-bottom: 30px;
}
.solution__text {
  line-height: 1.5;
  color: #fff;
  max-width: 468px;
}
.solution__text:not(:last-child) {
  margin-bottom: 30px;
}
.solution__image {
  position: relative;
}
.solution__image::before {
  position: absolute;
  content: "";
  background: url(../img/solution-decor1.svg);
  width: 181px;
  height: 168px;
  left: -20px;
  bottom: -10px;
}
.solution__image::after {
  position: absolute;
  content: "";
  background: url(../img/solution-decor2.svg);
  width: 169px;
  height: 168px;
  right: 0;
  top: 70px;
}
.solution__img {
  position: relative;
  z-index: 10;
}

.service {
  padding: 100px 0 253px;
}
.service__title {
  max-width: 538px;
  margin: 0 auto;
  margin-bottom: 30px;
  text-align: center;
}
.service__text {
  line-height: 1.5;
  max-width: 580px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px;
}
.service__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}
.item-service {
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.item-service__img {
  margin-bottom: 22px;
}
.item-service__count {
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  color: #f83718;
}
.item-service__desc {
  font-size: 26px;
  line-height: 1.5;
  color: #000000;
}

.planning__body {
  margin-top: -200px;
  margin-bottom: 50px;
  position: relative;
}
.planning__body::before {
  position: absolute;
  content: "";
  background: url(../img/decor-red.svg);
  width: 168px;
  height: 168px;
  left: -27px;
  bottom: -27px;
}
.planning__inner {
  background-color: #fff;
  padding: 50px 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 60px;
  position: relative;
  z-index: 99;
}
.planning__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.planning__title {
  margin-bottom: 30px;
}
.planning__text {
  max-width: 365px;
  margin-bottom: 30px;
}
.planning .planning__link {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.budget {
  padding-top: 283px;
  margin-top: -280px;
}
.budget__body {
  margin-bottom: 50px;
  position: relative;
}
.budget__body::before {
  position: absolute;
  content: "";
  background: url(../img/decor-red.svg);
  width: 168px;
  height: 168px;
  right: -27px;
  bottom: -27px;
}
.budget__inner {
  background-color: #fff;
  padding: 50px 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 60px;
  position: relative;
  z-index: 99;
}
.budget__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.budget__title {
  margin-bottom: 30px;
}
.budget__text {
  max-width: 365px;
  margin-bottom: 30px;
}
.budget__link {
  -ms-flex-item-align: start;
      align-self: flex-start;
}
.pre-production {
  padding-top: 283px;
  margin-top: -280px;
}
.pre-production__body {
  position: relative;
}
.pre-production__body::before {
  position: absolute;
  content: "";
  background: url(../img/decor-red.svg);
  width: 168px;
  height: 168px;
  left: -27px;
  bottom: -27px;
}
.pre-production__inner {
  background-color: #fff;
  padding: 50px 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 45px;
  position: relative;
  z-index: 99;
}
.pre-production__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.pre-production__title {
  margin-bottom: 30px;
}
.pre-production__text {
  max-width: 365px;
  margin-bottom: 30px;
}
.pre-production__link {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.casting {
  text-align: center;
  padding-top: 100px;
}
.casting__title {
  font-size: 34px;
  margin-bottom: 30px;
}
.casting__text {
  margin: 0 auto;
  margin-bottom: 30px;
  max-width: 550px;
}
.casting__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}
.casting__link {
  text-align: center;
  margin-bottom: 30px;
}
.casting__body {
  position: relative;
  position: relative;
}
.casting__body::before {
  position: absolute;
  content: "";
  background: url(../img/decor-red.svg);
  width: 168px;
  height: 168px;
  left: -10px;
  bottom: -27px;
}
.casting__body::after {
  position: absolute;
  content: "";
  background: url(../img/decor-red.svg);
  width: 168px;
  height: 168px;
  right: -10px;
  top: -27px;
}
.casting__image {
  position: relative;
  z-index: 99;
}
.item-casting {
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.item-casting__count {
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  color: #f83718;
}
.item-casting__desc {
  font-size: 26px;
  line-height: 1.5;
  color: #000000;
}

.toolz {
  padding-top: 100px;
}
.toolz__title {
  max-width: 628px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 47px;
}
.toolz__body {
  position: relative;
}
.toolz__body::before {
  position: absolute;
  content: "";
  background: url(../img/decor-white.svg);
  width: 168px;
  height: 168px;
  left: -27px;
  bottom: -27px;
}
.toolz__body::after {
  position: absolute;
  content: "";
  background: url(../img/decor-red.svg);
  width: 168px;
  height: 168px;
  right: -27px;
  top: -27px;
}
.toolz__inner {
  background-color: #fff;
  padding: 50px 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 45px;
  position: relative;
  z-index: 99;
}
.toolz__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.toolz__text {
  margin-bottom: 30px;
}
.toolz__link {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.content-toolz__title {
  margin-bottom: 30px;
}

.features {
  background-color: #01afeb;
  margin-top: -250px;
  padding: 275px 30px 50px;
}
.features__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.features__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}

.item-features {
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
}
.item-features__img {
  margin-bottom: 30px;
}
.item-features__desc {
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 6px;
  color: #fff;
}
.item-features__text {
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
}

.order {
  background-color: #fff;
  padding: 150px 0;
}
.order__inner {
  padding: 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.order__left {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 361px;
          flex: 0 1 361px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #f0f0f0;
}
.order__link {
  -ms-flex-item-align: center;
      align-self: center;
}
.order__right {
  border: 1px solid #f0f0f0;
  border-left: none;
}

.left-order {
  padding: 101px 32px;
  text-align: center;
}
.left-order__title {
  margin-bottom: 20px;
}
.left-order__text {
  margin-bottom: 44px;
}

.right-order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.right-order__card {
  position: relative;
  border-left: 1px solid #f0f0f0;
}
.right-order__card:nth-child(1) {
  border-bottom: 1px solid #f0f0f0;
}
.right-order__card:nth-child(2) {
  border-bottom: 1px solid #f0f0f0;
}

.card {
  cursor: pointer;
  width: 402px;
  height: 246px;
}
.card:hover > .card-front {
  -webkit-transform: perspective(600px) rotateY(-180deg);
          transform: perspective(600px) rotateY(-180deg);
}
.card:hover > .card-back {
  -webkit-transform: perspective(600px) rotateY(0deg);
          transform: perspective(600px) rotateY(0deg);
}

.card-front {
  padding: 50px 28px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
  -webkit-transition: -webkit-transform 0.6s linear;
  transition: -webkit-transform 0.6s linear;
  -o-transition: transform 0.6s linear;
  transition: transform 0.6s linear;
  transition: transform 0.6s linear, -webkit-transform 0.6s linear;
  -webkit-transform: perspective(600px) rotateY(0deg);
          transform: perspective(600px) rotateY(0deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.card-front__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100px;
          flex: 0 1 100px;
  margin-bottom: 10px;
}
.card-front__text {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
}

.card-back {
  padding: 50px 28px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
  -webkit-transition: -webkit-transform 0.6s linear;
  transition: -webkit-transform 0.6s linear;
  -o-transition: transform 0.6s linear;
  transition: transform 0.6s linear;
  transition: transform 0.6s linear, -webkit-transform 0.6s linear;
  -webkit-transform: perspective(600px) rotateY(180deg);
          transform: perspective(600px) rotateY(180deg);
  background-color: #f83718;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.card-back__text {
  color: #fff;
  text-align: center;
}

.contacts {
  background-color: #fff;
  padding: 150px 0 0;
}
.contacts__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 30px;
}
.contacts__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.item-contacts {
  padding: 47px 58px;
}
.item-contacts:first-child {
  background-color: #f83718;
  color: #fff;
}
.item-contacts:nth-child(2) {
  background-color: #f9f9f9;
}
.item-contacts__title {
  font-weight: 700;
  font-size: 34px;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.item-contacts__text {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 14px;
}
.item-contacts__mail {
  font-weight: 700;
  font-size: 30px;
}
.item-contacts__tel {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 14px;
}
.item-contacts__address {
  font-weight: 400;
  font-size: 20px;
  line-height: 2;
}

.footer {
  background-color: #fff;
  padding: 60px 0;
}
.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer__text {
  max-width: 560px;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: #959595;
}