body {
	font-family: "Ubuntu", sans-serif;
	background: #f9f9f9;
	color: #1b1925;
	font-size: 16px;
	font-weight: 300;
	line-height: 1.2;
}

[class*="__container"] {
	max-width: 1220px;
	margin: 0 auto;
	padding: 0px 10px;
}

// [class*="__container-big"] {
// 	max-width: 1180px;
// 	margin: 0 auto;
// 	padding: 0px 10px;
// }

.title {
	font-size: 50px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
}

.subtitle {
	font-size: 40px;
	font-weight: 700;
	color: #000;
	text-transform: uppercase;
	span {
		color: #f83718;
	}
}

.section-title {
	font-weight: 700;
	font-size: 24px;
	text-transform: uppercase;
	color: #000000;
}

.btn {
	display: inline-block;
	padding: 9px 28px;
	background-color: #f83718;
	font-weight: 700;
	font-size: 14px;
	line-height: 120%;
	text-align: center;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	color: #ffffff;
	transition: all 0.3s ease;
	&:hover {
		background-color: #ee816c;
	}
}

// header
.header {
	// .header__container

	&__container {
	}

	// .header__inner

	&__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 24px 30px;
	}
}
.logo {
}
.nav {
}
.menu {
	display: flex;
	align-items: center;
	gap: 50px;

	// .menu__item

	&__item {
	}

	// .menu__link

	&__link {
		font-weight: 500;
		font-size: 14px;
		line-height: 1.3;
		letter-spacing: 0.02em;
		text-transform: uppercase;
		color: #000000;
		transition: all 0.3s ease;
		&:hover {
			color: #f83718;
		}
		&:active {
			color: #f83718;
		}
	}
}
.lang {
	background: #f0f0f0;
	border-radius: 12px;
	padding: 3.78px;
	// .lang__item

	&__item {
		display: inline-block;
		cursor: pointer;
		font-weight: 500;
		font-size: 14px;
		line-height: 1.14;
		color: #666666;
		text-transform: uppercase;
		border-radius: 12px;
		padding: 14px;
		transition: all 0.3s ease;
		&:hover {
			color: #f83718;
		}
		&.active {
			color: #000;
			background: #ffffff;
			box-shadow: 1.38889px 1.38889px 5.55556px rgba(48, 48, 56, 0.12);
			&:hover {
				color: #f83718;
			}
		}
	}
}

// solution
.solution {
	background-color: #f83718;

	// .solution__inner

	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 104px 30px;
	}

	// .solution__content

	&__content {
	}

	// .solution__title

	&__title {
		max-width: 544px;
		margin-bottom: 30px;
	}

	// .solution__text

	&__text {
		line-height: 1.5;
		color: #fff;
		max-width: 468px;
		&:not(:last-child) {
			margin-bottom: 30px;
		}
	}

	// .solution__image
	&__image {
		position: relative;
		&::before {
			position: absolute;
			content: "";
			background: url(../img/solution-decor1.svg);
			width: 181px;
			height: 168px;
			left: -20px;
			bottom: -10px;
		}
		&::after {
			position: absolute;
			content: "";
			background: url(../img/solution-decor2.svg);
			width: 169px;
			height: 168px;
			right: 0;
			top: 70px;
		}
	}

	// .solution__img

	&__img {
		position: relative;
		z-index: 10;
	}
}

// service
.service {
	padding: 100px 0 253px;

	// .service__container

	&__container {
	}

	// .service__inner

	&__inner {
	}

	// .service__title

	&__title {
		max-width: 538px;
		margin: 0 auto;
		margin-bottom: 30px;
		text-align: center;
	}

	// .service__text

	&__text {
		line-height: 1.5;
		max-width: 580px;
		text-align: center;
		margin: 0 auto;
		margin-bottom: 30px;
	}

	// .service__items

	&__items {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 20px;
	}

	// .service__item

	&__item {
	}
}
.subtitle {
}
.item-service {
	padding: 40px;
	display: flex;
	flex-direction: column;
	align-items: center;

	// .item-service__img

	&__img {
		margin-bottom: 22px;
	}

	// .item-service__count

	&__count {
		font-weight: 700;
		font-size: 40px;
		text-transform: uppercase;
		color: #f83718;
	}

	// .item-service__desc

	&__desc {
		font-size: 26px;
		line-height: 1.5;
		color: #000000;
	}
}

// planning
.planning {
	// .planning__container

	&__container {
	}

	&__body {
		margin-top: -200px;
		margin-bottom: 50px;
		border: 2px solid #f9f9f9;
		position: relative;
		&::before {
			position: absolute;
			content: "";
			background: url(../img/decor-red.svg);
			width: 168px;
			height: 168px;
			left: -27px;
			bottom: -27px;
		}
	}

	// .planning__inner

	&__inner {
		background-color: #fff;
		padding: 50px 85px;
		display: flex;
		align-items: center;
		gap: 60px;
		position: relative;
		z-index: 99;
	}

	// .planning__image

	&__image {
	}

	// .planning__img

	&__img {
	}

	// .planning__content

	&__content {
		display: flex;
		flex-direction: column;
	}

	// .planning__title

	&__title {
		margin-bottom: 30px;
	}

	// .planning__text

	&__text {
		max-width: 365px;
		margin-bottom: 30px;
	}

	// .planning__link

	.planning__link {
		align-self: flex-start;
	}
}

// budget
.budget {
	background-color: #f9f9f9;
	padding-top: 283px;
	margin-top: -280px;

	// .budget__container

	&__container {
	}

	// .budget__body

	&__body {
		margin-bottom: 50px;
		border: 2px solid #f9f9f9;
		position: relative;
		&::before {
			position: absolute;
			content: "";
			background: url(../img/decor-red.svg);
			width: 168px;
			height: 168px;
			right: -27px;
			bottom: -27px;
		}
	}

	// .budget__inner

	&__inner {
		background-color: #fff;
		padding: 50px 85px;
		display: flex;
		align-items: center;
		gap: 60px;
		position: relative;
		z-index: 99;
	}

	// .budget__content

	&__content {
		display: flex;
		flex-direction: column;
	}

	// .budget__title

	&__title {
		margin-bottom: 30px;
	}

	// .budget__text

	&__text {
		max-width: 365px;
		margin-bottom: 30px;
	}

	// .budget__link

	&__link {
		align-self: flex-start;
	}

	// .budget__image

	&__image {
	}

	// .budget__img

	&__img {
	}
}

//pre-production
.pre-production {
	background-color: #f9f9f9;
	padding-top: 283px;
	margin-top: -280px;

	// .pre-production__container

	&__container {
	}

	// .pre-production__body

	&__body {
		// margin-bottom: 50px;
		border: 2px solid #f9f9f9;
		position: relative;
		&::before {
			position: absolute;
			content: "";
			background: url(../img/decor-red.svg);
			width: 168px;
			height: 168px;
			left: -27px;
			bottom: -27px;
		}
	}

	// .pre-production__inner

	&__inner {
		background-color: #fff;
		padding: 50px 85px;
		display: flex;
		align-items: center;
		gap: 45px;
		position: relative;
		z-index: 99;
	}

	// .pre-production__image

	&__image {
	}

	// .pre-production__img

	&__img {
	}

	// .pre-production__content

	&__content {
		display: flex;
		flex-direction: column;
	}

	// .pre-production__title

	&__title {
		margin-bottom: 30px;
	}

	// .pre-production__text

	&__text {
		max-width: 365px;
		margin-bottom: 30px;
	}

	// .pre-production__link

	&__link {
		align-self: flex-start;
	}
}

// casting
.casting {
	background-color: #f9f9f9;
	text-align: center;
	padding-top: 100px;

	// .casting__container

	&__container {
	}

	// .casting__title

	&__title {
		font-size: 34px;
		margin-bottom: 30px;
	}

	// .casting__text

	&__text {
		margin: 0 auto;
		margin-bottom: 30px;
		max-width: 550px;
	}

	// .casting__items

	&__items {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 20px;
	}

	// .casting__item

	&__item {
	}

	// .casting__link

	&__link {
		text-align: center;
		margin-bottom: 30px;
	}

	// .casting__body

	&__body {
		position: relative;
		&::before {
			position: absolute;
			content: "";
			background: url(../img/decor-red.svg);
			width: 168px;
			height: 168px;
			left: -10px;
			bottom: -27px;
		}
		position: relative;
		&::after {
			position: absolute;
			content: "";
			background: url(../img/decor-red.svg);
			width: 168px;
			height: 168px;
			right: -10px;
			top: -27px;
		}
	}

	// .casting__image

	&__image {
		position: relative;
		z-index: 99;
	}

	// .casting__img

	&__img {
	}
}

.item-casting {
	padding: 40px;
	display: flex;
	flex-direction: column;
	align-items: center;

	// .item-casting__count

	&__count {
		font-weight: 700;
		font-size: 40px;
		text-transform: uppercase;
		color: #f83718;
	}

	// .item-casting__desc

	&__desc {
		font-size: 26px;
		line-height: 1.5;
		color: #000000;
	}
}

// toolz
.toolz {
	// text-align: center;
	padding-top: 100px;

	// .toolz__container

	&__container {
	}

	// .toolz__title

	&__title {
		max-width: 628px;
		text-align: center;
		margin: 0 auto;
		margin-bottom: 47px;
	}

	// .toolz__body

	&__body {
		position: relative;
		&::before {
			position: absolute;
			content: "";
			background: url(../img/decor-white.svg);
			width: 168px;
			height: 168px;
			left: -27px;
			bottom: -27px;
		}
		&::after {
			position: absolute;
			content: "";
			background: url(../img/decor-red.svg);
			width: 168px;
			height: 168px;
			right: -27px;
			top: -27px;
		}
	}

	// .toolz__inner

	&__inner {
		background-color: #fff;
		padding: 50px 85px;
		display: flex;
		align-items: center;
		gap: 45px;
		position: relative;
		z-index: 99;
	}

	// .toolz__image

	&__image {
	}

	// .toolz__img

	&__img {
	}

	// .toolz__content

	&__content {
		display: flex;
		flex-direction: column;
	}

	// .toolz__text

	&__text {
		margin-bottom: 30px;
	}

	// .toolz__link

	&__link {
		align-self: flex-start;
	}
}

.content-toolz {
	&__title {
		margin-bottom: 30px;
	}
}

// features
.features {
	background-color: #01afeb;
	margin-top: -250px;
	padding: 275px 30px 50px;

	// .features__container

	&__container {
	}

	// .features__items

	&__items {
		display: flex;
		align-items: center;
		gap: 20px;
	}

	// .features__item

	&__item {
		flex: 0 1 25%;
	}
}
.item-features {
	padding: 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #fff;

	// .item-features__img

	&__img {
		margin-bottom: 30px;
	}

	// .item-features__desc

	&__desc {
		font-weight: 700;
		font-size: 24px;
		text-transform: uppercase;
		margin-bottom: 6px;
		color: #fff;
	}

	// .item-features__text

	&__text {
		font-weight: 400;
		line-height: 1.5;
		text-align: center;
	}
}

// order
.order {
	padding: 150px 30px 0;

	// .order__container

	&__container {
	}

	// .order__inner

	&__inner {
		padding: 0 30px;
		display: flex;
		align-items: center;
		border: 1px solid #f0f0f0;
	}

	// .order__left

	&__left {
		flex: 0 1 361px;
		display: flex;
		flex-direction: column;
	}

	// .order__link

	&__link {
		align-self: center;
	}

	// .order__right

	&__right {
	}
}
.left-order {
	padding: 36px 30px;
	text-align: center;

	// .left-order__title

	&__title {
		margin-bottom: 20px;
	}

	// .left-order__text

	&__text {
		margin-bottom: 44px;
	}
}

.right-order {
	display: flex;
	flex-wrap: wrap;

	// .right-order__item

	&__item {
		flex: 0 1 50%;
		padding: 36px 73px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		// border: 1px solid #f0f0f0;
		border-left: 1px solid #f0f0f0;
		&:nth-child(1){
			border-bottom: 1px solid #f0f0f0;
		}
		&:nth-child(2){
			border-bottom: 1px solid #f0f0f0;
		}
	}

	&__image {
		flex: 0 1 100px;
		margin-bottom: 10px;
	}

	// .right-order__img

	&__img {
		
	}

	// .right-order__text

	&__text {
		font-weight: 700;
		font-size: 24px;
		text-align: center;
		text-transform: uppercase;
	}
}
